@model List<m_cls_Person>

@{
	ViewData["Title"] = "Person";
}

<div>
    <div><h1 class="display-4">List of Persons</h1></div>

    <div>
        <button type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#exampleModal"
                data-id="0">
            Create New
        </button>
    </div>

    <div>&nbsp;</div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].firstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].lastName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(modelItem => Model[i].Id)
                            @Html.DisplayFor(modelItem => Model[i].firstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].lastName)
                        </td>
                        <td>
                            
                            <button type="button"
                                    class="btn btn-primary"
                                    data-toggle="modal"
                                    data-target="#exampleModal"
                                    data-id="@Model[i].Id">
                                Edit
                            </button>
                            <button type="button"
                                    class="btn btn-danger"
                                    data-toggle="modal"
                                    data-target="#msgModal"
                                    data-id="@Model[i].Id">
                                Delete
                            </button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div>
        <div class="form-group">
            <label for="personID">Person ID</label>
            <input type="number" id="personID" class="form-control" />
            <button class="btn" id="btnSearch">Search</button>
        </div>
        <div id="Outputdata"></div>
    </div>

    <div>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#MyPopup">
        Open Modal</button>
    </div>

</div>

@* Modal Form Here ... *@
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-firstname" class="col-form-label">Fistname:</label>
                        <input type="text" class="form-control" id="recipient-firstname" name="firstname">
                        <input type="hidden" id="recipient-id" name="id" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-lastname" class="col-form-label">Lastname:</label>
                        <input type="text" class="form-control" id="recipient-lastname" name="lastname"></input>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* Msg Modal *@
<div class="modal fade" tabindex="-1" id="msgModal" data-keyboard="false" data-backdrop="static">  
    <div class="modal-dialog modal-sm">  
        <div class="modal-content">  
            <div class="modal-header">  
                <h3 class="modal-title" id="MsgModalLabel">...</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>  
            <div class="modal-body">  
                <p>Are you sure to Delete ?</p>
            </div>  
            <div class="modal-footer">  
                <input type="submit" class="btn btn-danger" value="Ok" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>  
        </div> 
    </div> 
</div>

<!-- Modal Popup -->
<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Greetings
                </h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;</button>
                
            </div>
            <div class="modal-body">
                Welcome to ASPSnippets.com
            </div>
            <div class="modal-footer">
                <input type="button" id="btnClosePopup" value="Close" class="btn btn-danger" />
            </div>
        </div>
    </div>
</div>
<!-- Modal Popup -->

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            
            @{
                if (ViewBag.ModalState == null)
                {
                    ViewBag.ModalState = "hide";
                }
                if (ViewBag.ModalStateMsg == null)
                {
                    ViewBag.ModalStateMsg = "hide";
                }
            }

            $('#exampleModal').modal('@ViewBag.ModalState');
            $('#msgModal').modal('@ViewBag.ModalStateMsg');

            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                if (id === 0)
                {
                    $('#exampleModalLabel').html("Create New ...");

                    
                }
                else{
                    var modal = $(this);
                    modal.find('.modal-body input[name="id"]').val(id);

                    $.get('@Url.Action("GetById", "Person")/' + id, function (data) {
                        modal.find('.modal-body input[name="firstname"]').val(data.firstName);
                        modal.find('.modal-body input[name="lastname"]').val(data.lastName);
                    });

                    $('#exampleModalLabel').html("Edit - " + id);
                }
                    
            });

            $('#msgModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                if (id === 0)
                {
                    $('#MsgModalLabel').html("To Delete - 0");
                }
                else{
                    $('#MsgModalLabel').html("To Delete - " + id);
                }
                    
            });

            //alert("aaa 2");

            $("#btnSearch").on("click", getPerson);

            $("#btnClosePopup").click(function () {
                $("#MyPopup").modal("hide");
            });

        });


        function getPerson() {
            
            var id = $("#personID").val();
            var url = '@Url.Action("GetPerson")';

            $.get(url, { id: id }, function (data) {
                $("#Outputdata").html(data.firstName + " has $" + data.s_Amount);
            });


            @* $.get('@Url.Action("GetPerson", "Person")/' + id, function (data) {
                $("#Outputdata").html(data.firstName + " has $" + data.s_Amount);
            }); *@

            alert(id + ' : ' + data);
        }

    </script>

}